<% if About.exists? %>

            <section class="ttm-row zero-padding-section ttm-bgcolor-grey clearfix">
                            <div class="container">
                                <div class="row no-gutters">
                                    <div class="col-md-12">
                                        <div class="ttm-bgcolor-white ttm-bg ttm-col-bgcolor-yes ttm-left-span spacing-7 position-relative z-1">
                                            <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                                                <div class="ttm-bg-layer-inner"></div>
                                            </div>
                                            <div class="layer-content">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <!-- ttm_single_image-wrapper -->
                                                        <div class="ttm_single_image-wrapper">
                                                          <img class="img-fluid" src="<%= asset_path "single-img-five.jpg" %>" title="single-img-five" alt="single-img-five">
                                                        </div><!-- ttm_single_image-wrapper end -->
                                                        <div class="about-overlay-02">
                                                            <h3>15 Years of</h3>
                                                            <p>IT Business Experience</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="res-991-mt-30">
                                                            <!-- section title -->

                                                            <% @headers.each do |h| %>
                                                            <div class="section-title with-desc clearfix">
                                                                <div class="title-header">
                                                                    <h5>About Us</h5>
                                                                    <h2 class="title"><%= h.abouts_title %></h2>
                                                                </div>
                                                                <div class="title-desc">
                                                                    <p><%= h.abouts_sub_title %>.</p>
                                                                </div>
                                                            </div><!-- section title end -->
                                                            <% end %>
                                                            <!-- row --><!-- section title end -->

                                                            <div class="mt-30">
                                                              <div class="row">
                                                                  <div class="col-md-3 col-lg-4 col-sm-6">
                                                                      <div class="text-left pt-15">
                                                                          <img src="<%= asset_path "about-sign.png"%>" alt="about-sign">
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-md-9 col-lg-8 col-sm-6">
                                                                      <!--  featured-icon-box -->
                                                                      <div class="featured-icon-box without-icon text-left pt-15">
                                                                          <div class="featured-content"><!--  featured-content -->
                                                                              <div class="featured-title"><!--  featured-title -->
                                                                                  <h5>Maestro Maverick LLC</h5>
                                                                              </div>
                                                                              <div class="featured-desc"><!--  featured-desc -->
                                                                                  <p>Director</p>
                                                                              </div>
                                                                          </div>
                                                                      </div><!--  featured-icon-box END -->
                                                                  </div>
                                                              </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <% else %>

                        <section class="ttm-row zero-padding-section ttm-bgcolor-grey clearfix">
                                        <div class="container">
                                            <div class="row no-gutters">
                                                <div class="col-md-12">
                                                    <div class="ttm-bgcolor-white ttm-bg ttm-col-bgcolor-yes ttm-left-span spacing-7 position-relative z-1">
                                                        <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                                                            <div class="ttm-bg-layer-inner"></div>
                                                        </div>
                                                        <div class="layer-content">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <!-- ttm_single_image-wrapper -->
                                                                    <div class="ttm_single_image-wrapper">
                                                                        <img class="img-fluid" src="<%= asset_path "single-img-five.jpg" %>" title="single-img-five" alt="single-img-five">
                                                                    </div><!-- ttm_single_image-wrapper end -->
                                                                    <div class="about-overlay-02">
                                                                        <h3>15 Years of</h3>
                                                                        <p>IT Business Experience</p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="res-991-mt-30">
                                                                        <!-- section title -->
                                                                        <div class="section-title with-desc clearfix">
                                                                            <div class="title-header">
                                                                                <h5>About Altech</h5>
                                                                                <h2 class="title">We deal with the aspects of professional <span>IT Services</span></h2>
                                                                            </div>
                                                                            <div class="title-desc">
                                                                                <p>We listen. We advise. We design, together. Happy customers and ongoing relationships are what we strive for. Success is measured by results, the most important being how our clients feel about their experience with us.</p>
                                                                            </div>
                                                                        </div><!-- section title end -->
                                                                        <div class="mt-30">
                                                                            <!-- progress-bar -->
                                                                            <div class="ttm-progress-bar" data-percent="90%">
                                                                                <div class="progress-bar-title">UI/UX Design</div><!-- progress-bar-title -->
                                                                                <div class="progress-bar-inner">
                                                                                    <div class="progress-bar progress-bar-color-bar_skincolor" style="width: 90%;"></div>
                                                                                </div>
                                                                                <div class="progress-bar-percent" data-percentage="90">90%</div><!-- progress-bar-percent -->
                                                                            </div>
                                                                            <!-- progress-bar END -->
                                                                            <!-- progress-bar -->
                                                                            <div class="ttm-progress-bar" data-percent="80%">
                                                                                <div class="progress-bar-title">App Development</div><!-- progress-bar-TITLE -->
                                                                                <div class="progress-bar-inner">
                                                                                    <div class="progress-bar progress-bar-color-bar_skincolor" style="width: 80%;"></div>
                                                                                </div>
                                                                                <div class="progress-bar-percent" data-percentage="80">80%</div><!-- progress-bar-PERCENT -->
                                                                            </div>
                                                                            <!-- progress-bar END -->
                                                                            <!-- progress-bar -->
                                                                            <div class="ttm-progress-bar" data-percent="90%">
                                                                                <div class="progress-bar-title">UI/UX Design</div><!-- progress-bar-title -->
                                                                                <div class="progress-bar-inner">
                                                                                    <div class="progress-bar progress-bar-color-bar_skincolor" style="width: 90%;"></div>
                                                                                </div>
                                                                                <div class="progress-bar-percent" data-percentage="90">90%</div><!-- progress-bar-percent -->
                                                                            </div>
                                                                            <!-- progress-bar END -->
                                                                            <!-- progress-bar -->
                                                                            <div class="ttm-progress-bar" data-percent="80%">
                                                                                <div class="progress-bar-title">App Development</div><!-- progress-bar-TITLE -->
                                                                                <div class="progress-bar-inner">
                                                                                    <div class="progress-bar progress-bar-color-bar_skincolor" style="width: 80%;"></div>
                                                                                </div>
                                                                                <div class="progress-bar-percent" data-percentage="80">80%</div><!-- progress-bar-PERCENT -->
                                                                            </div>
                                                                            <!-- progress-bar END -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>


                        <% end %>
