
<% if Section.exists? %>

<section class="ttm-row service-section-style2 ttm-bgcolor-grey clearfix">
                <div class="container">
                    <div class="row"><!-- row -->
                        <div class="col-lg-12">
                            <!-- section title -->
                            <div class="section-title with-desc text-center clearfix">
                                <div class="title-header">
                                    <h5>We Make Connections</h5>
                                    <h2 class="title">We provide best <span>Services</span></h2>
                                </div>
                            </div><!-- section title end -->
                        </div>
                    </div>
                    <div class="row no-gutters"><!-- row -->
                      <%= @sections.each do |a| %>
                        <div class="col-md-6 col-lg-3">
                            <!--  featured-icon-box -->
                            <div class="featured-icon-box style6">
                                <div class="featured-content"><!--  featured-content -->
                                    <div class="featured-title"><!--  featured-title -->
                                        <h5 class="mb-10"><%= a.title %></h5>
                                    </div>
                                    <div class="featured-desc"><!--  featured-desc -->
                                        <p class="mb-25"><%= a.sub_title %></p>
                                    </div>
                                </div>
                                <div class="featured-icon"><!--  featured-icon -->
                                    <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                        <i class="<%= a.icon %>"></i><!--  ttm-icon -->
                                    </div>
                                </div>
                                <%= link_to a, class: "ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline style2 mt-15" do %>
                                Read More <% end %>
                            </div><!--  featured-icon-box END -->
                        </div>
                    <% end %>

                    </div>
                    <!-- row end -->
                </div>
            </section>
<% else %>

<section class="ttm-row service-section-style2 ttm-bgcolor-grey clearfix">
                <div class="container">
                    <div class="row"><!-- row -->
                        <div class="col-lg-12">
                            <!-- section title -->
                            <div class="section-title with-desc text-center clearfix">
                                <div class="title-header">
                                    <h5>We Make Connections</h5>
                                    <h2 class="title">We provide best <span>Services</span></h2>
                                </div>
                            </div><!-- section title end -->
                        </div>
                    </div>
                    <div class="row no-gutters"><!-- row -->
                        <div class="col-md-6 col-lg-3">
                            <!--  featured-icon-box -->
                            <div class="featured-icon-box style6">
                                <div class="featured-content"><!--  featured-content -->
                                    <div class="featured-title"><!--  featured-title -->
                                        <h5 class="mb-10">Experience Design</h5>
                                    </div>
                                    <div class="featured-desc"><!--  featured-desc -->
                                        <p class="mb-25">Our firm is an expert to creates an efficient user interface that make user interaction.</p>
                                    </div>
                                </div>
                                <div class="featured-icon"><!--  featured-icon -->
                                    <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                        <i class="flaticon flaticon-system"></i><!--  ttm-icon -->
                                    </div>
                                </div>
                                <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline style2 mt-15" href="#">Read More </a>
                            </div><!--  featured-icon-box END -->
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <!--  featured-icon-box -->
                            <div class="featured-icon-box style6">
                                <div class="featured-content"><!--  featured-content -->
                                    <div class="featured-title"><!--  featured-title -->
                                        <h5 class="mb-10">IT Consultancy</h5>
                                    </div>
                                    <div class="featured-desc"><!--  featured-desc -->
                                        <p class="mb-25">We provide an IT management services is for according to an organization’s needs.</p>
                                    </div>
                                </div>
                                <div class="featured-icon"><!--  featured-icon -->
                                    <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                        <i class="flaticon flaticon-computer"></i><!--  ttm-icon -->
                                    </div>
                                </div>
                                <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline style2 mt-15" href="#">Read More </a>
                            </div><!--  featured-icon-box END -->
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <!--  featured-icon-box -->
                            <div class="featured-icon-box style6">
                                <div class="featured-content"><!--  featured-content -->
                                    <div class="featured-title"><!--  featured-title -->
                                        <h5 class="mb-10">Cyber Security</h5>
                                    </div>
                                    <div class="featured-desc"><!--  featured-desc -->
                                        <p class="mb-25">Expertise in a IT consultancy for the many companies, for their different working areas.</p>
                                    </div>
                                </div>
                                <div class="featured-icon"><!--  featured-icon -->
                                    <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                        <i class="flaticon flaticon-chart"></i><!--  ttm-icon -->
                                    </div>
                                </div>
                                <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline style2 mt-15" href="#">Read More </a>
                            </div><!--  featured-icon-box END -->
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <!--  featured-icon-box -->
                            <div class="featured-icon-box style6">
                                <div class="featured-content"><!--  featured-content -->
                                    <div class="featured-title"><!--  featured-title -->
                                        <h5 class="mb-10">Digital Services</h5>
                                    </div>
                                    <div class="featured-desc"><!--  featured-desc -->
                                        <p class="mb-25">We develop, migrate &amp; work on applications to ensure that run capably on cloud.</p>
                                    </div>
                                </div>
                                <div class="featured-icon"><!--  featured-icon -->
                                    <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                        <i class="flaticon flaticon-data"></i><!--  ttm-icon -->
                                    </div>
                                </div>
                                <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline style2 mt-15" href="#">Read More </a>
                            </div><!--  featured-icon-box END -->
                        </div>
                    </div>
                    <!-- row end -->
                </div>
            </section>
<% end %>
