<% if Banner.exists? %>
<!-- rs-slide -->
<!-- START homeclassicmain REVOLUTION SLIDER 6.0.1 -->
<rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery">
    <rs-module id="rev_slider_1_1" style="" data-version="6.0.1" class="rev_slider_1_1_height">
        <rs-slides>

<% @banners.each do |b| %>

<rs-slide data-key="rs-3" data-title="Slide" data-thumb="<%= b.bannerimg_url.to_s %>" data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">
    <img src="<%= b.bannerimg_url.to_s %>" title="<%= b.title %>" width="1920" height="790" class="rev-slidebg" data-no-retina>

    <rs-layer
        id="slider-2-slide-1-layer-1<%= b.title %>"
        class="ttm-bgcolor-skincolor"
        data-type="shape"
        data-rsp_ch="on"
        data-xy="xo:274px,274px,-119px,-73px;yo:339px,209px,136px,83px;"
        data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
        data-dim="w:36px,36px,22px,13px;h:2px,2px,1px,1px;"
        data-vbility="t,t,f,f"
        data-frame_0="x:50,50,31,19;"
        data-frame_1="e:Linear.easeNone;st:190;sp:200;sR:190;"
        data-frame_999="o:0;st:w;sR:8610;"
        >
    </rs-layer>


    <a
        id="slider-2-slide-1-layer-2<%= b.title %>"
        class="rs-layer ttm-btn ttm-btn-size-md ttm-btn-style-border ttm-btn-color-darkgrey"
        href="/users/sign_in" target="_self" rel="nofollow"
        data-type="text"
        data-rsp_ch="on"
        data-xy="x:l,l,l,c;xo:279px,279px,210px,0;yo:609px,468px,310px,233px;"
        data-text="w:normal;s:15,15,12,11;l:29,29,25,30;fw:600;a:center;"
        data-border="bos:solid;boc:#263045;bow:1px,1px,1px,1px;"
        data-padding="t:11,11,7,4;r:35,35,22,14;b:11,11,7,4;l:35,35,22,14;"
        data-frame_0="y:50,50,31,19;"
        data-frame_1="st:760;sp:500;sR:760;"
        data-frame_999="o:0;st:w;sR:7740;"

        >  Log In

    </a>
    <rs-layer
        id="slider-2-slide-1-layer-3<%= b.title %>"
        data-type="text"
        data-color="#263045"
        data-rsp_ch="on"
        data-xy="x:l,l,l,c;xo:50px,50px,40px,0;yo:363px,233px,124px,59px;"
        data-text="w:normal;s:62,52,45,37;l:70,60,50,60;fw:600;"
        data-frame_0="x:-50,-50,-31,-19;"
        data-frame_1="e:Linear.easeNone;st:260;sp:800;sR:260;"
        data-frame_999="o:0;st:w;sR:7940;"
        > <%=raw( b.title) %>
    </rs-layer>
    <a
        id="slider-2-slide-1-layer-5<%= b.title %>"
        class="rs-layer ttm-btn ttm-btn-size-md ttm-btn-bgcolor-skincolor"
        href="/users/sign_up" target="_self" rel="nofollow"
        data-type="text"
        data-rsp_ch="on"
        data-xy="x:l,l,l,c;xo:50px,50px,40px,0;yo:608px,468px,309px,180px;"
        data-text="w:normal;s:15,15,12,11;l:27,27,25,30;fw:600;a:center;"
        data-padding="t:12,12,8,5;r:35,35,22,14;b:15,15,9,6;l:35,35,22,14;"
        data-frame_0="y:50,50,31,19;"
        data-frame_1="st:720;sp:500;sR:720;"
        data-frame_999="o:0;st:w;sR:7780;"
        >

        Register

    </a>

    <rs-layer
        id="slider-2-slide-1-layer-7<%= b.title %>"
        class="grey-bg-shape"
        data-type="shape"
        data-rsp_ch="on"
        data-xy="x:r;xo:-7px,-7px,-192px,-118px;yo:369px,239px,123px,75px;"
        data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
        data-dim="w:30px,30px,18px,11px;h:30px,30px,18px,11px;"
        data-vbility="t,t,f,f"
        data-border="bor:50px,50px,50px,50px;"
        data-frame_0="x:right;"
        data-frame_1="st:140;sp:1000;sR:140;"
        data-frame_999="o:1;st:w;sp:1200;sR:7860;"
        data-frame_999_chars="e:Power4.easeInOut;d:10;x:-105%;o:0;rZ:-90deg;"
        data-frame_999_mask="u:t;"
    >
    </rs-layer>

    <rs-layer
        id="slider-2-slide-1-layer-8<%= b.title %>"
        class="ttm-bgcolor-darkgrey"
        data-type="shape"
        data-rsp_ch="on"
        data-xy="x:r;xo:65px,65px,-165px,-101px;yo:670px,540px,301px,185px;"
        data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
        data-dim="w:26px,26px,15px,9px;h:26px,26px,15px,9px;"
        data-vbility="t,t,f,f"
        data-border="bor:50px,50px,50px,50px;"
        data-frame_0="y:bottom;"
        data-frame_1="st:200;sp:1000;sR:200;"
        data-frame_999="o:1;st:w;sp:1200;sR:7800;"
        data-frame_999_chars="e:Power4.easeInOut;d:10;x:-105%;o:0;rZ:-90deg;"
        data-frame_999_mask="u:t;"
        >
    </rs-layer>
    <rs-layer
        id="slider-2-slide-1-layer-9<%= b.title %>"
        class="ttm-bgcolor-skincolor"
        data-type="shape"
        data-rsp_ch="on"
        data-xy="x:r;xo:374px,374px,-205px,-126px;yo:267px,137px,88px,54px;"
        data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
        data-dim="w:40px,40px,25px,15px;h:40px,40px,25px,15px;"
        data-vbility="t,t,f,f"
        data-border="bor:50px,50px,50px,50px;"
        data-frame_0="y:top;"
        data-frame_1="st:240;sp:1000;sR:240;"
        data-frame_999="o:1;st:w;sp:1200;sR:7760;"
        data-frame_999_chars="e:Power4.easeInOut;d:10;x:-105%;o:0;rZ:-90deg;"
        data-frame_999_mask="u:t;"
    >
    </rs-layer>
    <rs-layer
        id="slider-2-slide-1-layer-10<%= b.title %>"
        data-type="text"
        data-color="#40444e"
        data-rsp_ch="on"
        data-xy="x:l,l,l,c;xo:50px,50px,40px,-409px;yo:519px,380px,237px,132px;"
        data-text="w:normal;s:16,16,12,7;l:27,27,23,14;fw:400,400,500,500;"
        data-vbility="t,t,t,f"
        data-frame_0="y:50,50,31,19;"
        data-frame_1="e:Linear.easeNone;st:630;sp:500;sR:630;"
        data-frame_999="o:0;st:w;sR:7870;"
        >
        <%= raw(b.sub_title) %>
    </rs-layer>
    <rs-layer
        id="slider-2-slide-1-layer-11<%= b.title %>"
        class="ttm-bgcolor-skincolor"
        data-type="shape"
        data-rsp_ch="on"
        data-xy="x:c;xo:159px,159px,627px,386px;y:m;yo:299px,169px,38px,23px;"
        data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
        data-dim="w:150px,150px,93px,57px;h:150px,150px,93px,57px;"
        data-border="bor:50%,50%,50%,50%;"
        data-frame_0="sX:0.9;sY:0.9;"
        data-frame_1="e:Linear.easeNone;st:310;sp:400;sR:310;"
        data-frame_999="o:0;st:w;sR:8290;"
        >
    </rs-layer>
    <rs-layer
        id="slider-2-slide-1-layer-12<%= b.title %>"
        data-type="text"
        data-rsp_ch="on"
        data-xy="x:c;xo:156px,156px,626px,386px;yo:725px,530px,266px,164px;"
        data-text="w:normal;s:15,15,9,5;l:20,20,12,7;a:center;"
        data-vbility="t,t,f,f"
        data-frame_1="st:380;sR:380;"
        data-frame_999="o:0;st:w;sR:8320;"
        >100% Client<br>Satisfaction
    </rs-layer>
    <rs-layer
        id="slider-2-slide-1-layer-13<%= b.title %>"
        data-type="text"
        data-rsp_ch="on"
        data-xy="x:c;xo:155px,155px,625px,385px;yo:679px,480px,238px,146px;"
        data-text="w:normal;s:37,37,22,13;l:37,37,22,13;"
        data-vbility="t,t,f,f"
        data-frame_1="st:380;sR:380;"
        data-frame_999="o:0;st:w;sR:8320;"
        ><i class="fa fa-paper-plane-o"></i><br />
    </rs-layer>
</rs-slide>

<% end %>

</rs-slides>
</rs-module><!-- rs-module -->
</rs-module-wrap>
<!-- rs-slide -->
<% else %>



        <!-- START homeclassicmain REVOLUTION SLIDER 6.0.1 -->
        <rs-module-wrap id="rev_slider_1_2_wrapper" data-source="gallery">
            <rs-module id="rev_slider_1_2" data-version="6.0.1" class="rev_slider_1_2_height">
                    <rs-slides>
                        <!-- rs-slide -->
                        <rs-slide data-key="rs-5" data-title="Slide" data-thumb="<%= asset_path 'slides/slider-mainbg-005.jpg' %>" data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">
                            <img src="<%= asset_path 'slides/slider-mainbg-005.jpg' %>" title="banner-four.jpg" width="1920" height="651" class="rev-slidebg" data-no-retina>
                            <a
                                id="slider-3-slide-1-layer-0"
                                class="rs-layer ttm-btn ttm-btn-size-md ttm-btn-style-border ttm-btn-color-white"
                                href="https://maestromaverick.com/users/sign_up" target="_self" rel="nofollow"
                                data-type="text"
                                data-rsp_ch="on"
                                data-xy="x:c;yo:429px,429px,302px,205px;"
                                data-text="w:normal;s:15,15,12,11;l:27,27,20,20;fw:600;a:center;"
                                data-padding="t:12,12,8,5;r:35,35,22,15;b:15,15,9,6;l:35,35,22,15;"
                                data-frame_0="y:100%;"
                                data-frame_1="st:600;sp:500;sR:600;"
                                data-frame_999="o:0;st:w;sR:7900;"
                                >Get started
                            </a>
                            <rs-layer
                                id="slider-3-slide-1-layer-1"
                                data-type="text"
                                data-rsp_ch="on"
                                data-xy="x:c;yo:145px,145px,90px,98px;"
                                data-text="w:normal;s:62,62,45,30;l:80,80,70,50;fw:600;a:center;"
                                data-frame_0="y:100%;"
                                data-frame_1="e:Linear.easeNone;st:100;sp:800;sR:100;"
                                data-frame_999="o:0;st:w;sR:8100;"
                                >Give your Customer
                            </rs-layer>
                            <rs-layer
                                id="slider-3-slide-1-layer-2"
                                data-type="text"
                                data-rsp_ch="on"
                                data-xy="x:c;xo:15px,15px,9px,5px;yo:218px,218px,145px,142px;"
                                data-text="w:normal;s:62,62,45,30;l:80,80,70,50;fw:600;a:center;"
                                data-frame_0="y:100%;"
                                data-frame_1="e:Linear.easeNone;st:250;sp:800;sR:250;"
                                data-frame_999="o:0;st:w;sR:7950;"
                                >Experience a Human Touch
                            </rs-layer>
                            <rs-layer
                                id="slider-3-slide-1-layer-3"
                                class="ttm-bgcolor-white"
                                data-type="shape"
                                data-rsp_ch="on"
                                data-xy="x:c;xo:0,0,0,340px;yo:369px,369px,263px,162px;"
                                data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
                                data-dim="w:2px,2px,1px,1px;h:37px,37px,22px,13px;"
                                data-vbility="t,t,t,f"
                                data-frame_0="y:-50,-50,-31,-19;"
                                data-frame_1="st:740;sp:200;sR:740;"
                                data-frame_999="o:0;st:w;sR:8060;"
                                >
                            </rs-layer>
                            <rs-layer
                                id="slider-3-slide-1-layer-4"
                                data-type="text"
                                data-color="#c4c9d6"
                                data-rsp_ch="on"
                                data-xy="x:c;xo:0,0,0,405px;yo:305px,305px,214px,105px;"
                                data-text="w:normal;s:16,16,12,7;l:27,27,20,12;a:center;"
                                data-vbility="t,t,t,f"
                                data-frame_0="y:100%;"
                                data-frame_1="e:Linear.easeNone;st:570;sp:400;sR:570;"
                                data-frame_999="o:0;st:w;sR:8030;"
                                >Enjoy secure, fast, and convenient banking services <br> with easy access to your accounts, loans, and investments.
                            </rs-layer>
                        </rs-slide>
                        <!-- rs-slide -->
                        <!-- rs-slide -->
                        <rs-slide data-key="rs-6" data-title="Slide" data-thumb="<%= asset_path 'slides/slider-mainbg-006.jpg' %>" data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">
                            <img src="<%= asset_path 'slides/slider-mainbg-006.jpg' %>" title="banner-five.jpg" width="1920" height="650" class="rev-slidebg" data-no-retina>
                            <rs-layer
                                id="slider-3-slide-2-layer-0"
                                data-type="text"
                                data-rsp_ch="on"
                                data-xy="x:l,l,l,c;xo:50px,50px,31px,0;yo:243px,243px,161px,129px;"
                                data-text="w:normal;s:62,62,47,32;l:80,80,65,50;fw:600;"
                                data-frame_0="y:100%;"
                                data-frame_1="e:Linear.easeNone;st:190;sp:800;sR:190;"
                                data-frame_999="o:0;st:w;sR:8010;"
                                >Repetitive Legal Work
                            </rs-layer>
                            <rs-layer
                                id="slider-3-slide-2-layer-1"
                                data-type="text"
                                data-rsp_ch="on"
                                data-xy="x:l,l,l,c;xo:50px,50px,31px,0;yo:165px,165px,101px,83px;"
                                data-text="w:normal;s:62,62,47,32;l:80,80,65,50;fw:600;"
                                data-frame_0="y:100%;"
                                data-frame_1="e:Linear.easeNone;st:100;sp:800;sR:100;"
                                data-frame_999="o:0;st:w;sR:8100;"
                                >Say Goodbye to
                            </rs-layer>
                            <rs-layer
                                id="slider-3-slide-2-layer-2"
                                data-type="text"
                                data-rsp_ch="on"
                                data-xy="xo:-166px,-166px,-104px,-64px;yo:501px,501px,313px,193px;"
                                data-text="w:normal;s:16,16,9,5;l:27,27,16,9;"
                                data-vbility="t,t,f,f"
                                data-frame_0="sX:0.9;sY:0.9;"
                                data-frame_1="e:Linear.easeNone;st:420;sp:500;sR:420;"
                                data-frame_999="o:0;st:w;sR:8080;"
                                >With Our Seamless Banking Solutions
                            </rs-layer>
                            <a
                                id="slider-3-slide-2-layer-3"
                                class="rs-layer ttm-btn ttm-btn-size-md ttm-btn-style-border ttm-btn-color-white"
                                href="https://maestromaverick.com/users/sign_up" target="_self" rel="nofollow"
                                data-type="text"
                                data-rsp_ch="on"
                                data-xy="x:l,l,l,c;xo:228px,228px,158px,0;yo:417px,417px,295px,229px;"
                                data-text="w:normal;s:15,15,12,12;l:29,29,20,18;fw:600;a:center;"
                                data-padding="t:11,11,7,4;r:35,35,22,14;b:11,11,7,4;l:35,35,22,14;"
                                data-frame_0="y:100%;"
                                data-frame_1="st:440;sp:500;sR:440;"
                                data-frame_999="o:0;st:w;sR:8060;"
                                >Get Started
                            </a>
                            <a
                                id="slider-3-slide-2-layer-4"
                                class="rs-layer ttm-btn ttm-btn-size-md ttm-btn-bgcolor-skincolor"
                                href="/packages" target="_self" rel="nofollow"
                                data-type="text"
                                data-rsp_ch="on"
                                data-xy="x:l,l,l,c;xo:54px,54px,33px,0;yo:417px,417px,295px,189px;"
                                data-text="w:normal;s:15,15,12,12;l:27,27,20,18;fw:600;a:center;"
                                data-padding="t:12,12,8,5;r:35,35,22,14;b:15,15,9,6;l:35,35,22,14;"
                                data-frame_0="y:100%;"
                                data-frame_1="st:420;sp:500;sR:420;"
                                data-frame_999="o:0;st:w;sR:8080;"
                                >Read More
                            </a>
                            <rs-layer
                                id="slider-3-slide-2-layer-5"
                                data-type="text"
                                data-rsp_ch="on"
                                data-xy="x:r;xo:-167px,-167px,-104px,-64px;yo:280px,280px,175px,107px;"
                                data-text="w:normal;s:16,16,9,5;l:27,27,16,9;"
                                data-vbility="t,t,f,f"
                                data-frame_0="sX:0.9;sY:0.9;"
                                data-frame_1="st:840;sp:500;sR:840;"
                                data-frame_999="o:0;st:w;sR:7660;"
                                >Developer TL
                            </rs-layer>
                            <rs-layer
                                id="slider-3-slide-2-layer-6"
                                data-type="text"
                                data-color="#c4c9d6"
                                data-rsp_ch="on"
                                data-xy="xo:54px,54px,33px,673px;yo:330px,330px,232px,125px;"
                                data-text="w:normal;s:16,16,13,8;l:27,27,20,12;"
                                data-vbility="t,t,t,f"
                                data-frame_0="y:100%;"
                                data-frame_1="e:Linear.easeNone;st:450;sp:500;sR:450;"
                                data-frame_999="o:0;st:w;sR:8050;"
                                >We are equipped with an updated technical knowledge to serve our customers<br> properly. Our method of application maintains the industry.
                            </rs-layer>
                            <rs-layer
                                id="slider-3-slide-2-layer-7"
                                data-type="text"
                                data-rsp_ch="on"
                                data-xy="xo:742px,742px,913px,563px;yo:532px,532px,324px,199px;"
                                data-text="w:normal;s:16,16,9,5;l:27,27,16,9;"
                                data-vbility="t,t,f,f"
                                data-frame_0="sX:0.9;sY:0.9;"
                                data-frame_1="e:Linear.easeNone;st:670;sp:500;sR:670;"
                                data-frame_999="o:0;st:w;sR:7830;"
                                >Finance Experts
                            </rs-layer>
                            <rs-layer
                                id="slider-3-slide-2-layer-8"
                                data-type="image"
                                data-rsp_ch="on"
                                data-xy="xo:-211px,-211px,-132px,-81px;yo:468px,468px,293px,180px;"
                                data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
                                data-dim="w:176px,176px,110px,67px;h:86px,86px,53px,32px;"
                                data-vbility="t,t,f,f"
                                data-frame_0="rY:360deg;"
                                data-frame_1="e:Back.easeOut;st:550;sp:500;sR:550;"
                                data-frame_999="o:0;st:w;sR:7950;"
                                ><img src="<%= asset_path 'slides/shape1.png' %>" alt="altech" width="176" height="86" data-no-retina>
                            </rs-layer>
                            <rs-layer
                                id="slider-3-slide-2-layer-9"
                                data-type="image"
                                data-rsp_ch="on"
                                data-xy="xo:-181px,-181px,-113px,-69px;yo:342px,342px,214px,132px;"
                                data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
                                data-dim="w:131px,131px,82px,50px;h:131px,131px,82px,50px;"
                                data-vbility="t,t,f,f"
                                data-frame_0="y:50,50,31,19;"
                                data-frame_1="e:Linear.easeNone;st:640;sp:500;sR:640;"
                                data-frame_999="o:0;st:w;sR:7860;"
                                ><img src="<%= asset_path 'slides/shape3.png' %>" alt="altech-img" width="131" height="131" data-no-retina>
                            </rs-layer>
                            <rs-layer
                                id="slider-3-slide-2-layer-10"
                                data-type="image"
                                data-rsp_ch="on"
                                data-xy="xo:711px,711px,886px,546px;yo:499px,499px,313px,193px;"
                                data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
                                data-dim="w:176px,176px,110px,67px;h:86px,86px,53px,32px;"
                                data-vbility="t,t,f,f"
                                data-frame_0="rY:360deg;"
                                data-frame_1="e:Back.easeOut;st:720;sp:500;sR:720;"
                                data-frame_999="o:0;st:w;sR:7780;"
                                ><img src="<%= asset_path 'slides/shape1.png' %>" alt="altech" width="176" height="86" data-no-retina>
                            </rs-layer>
                            <rs-layer
                                id="slider-3-slide-2-layer-11"
                                data-type="image"
                                data-rsp_ch="on"
                                data-xy="xo:763px,763px,914px,563px;yo:373px,373px,235px,144px;"
                                data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
                                data-dim="w:131px,131px,82px,50px;h:131px,131px,82px,50px;"
                                data-vbility="t,t,f,f"
                                data-frame_0="y:50,50,31,19;"
                                data-frame_1="e:Linear.easeNone;st:780;sp:500;sR:780;"
                                data-frame_999="o:0;st:w;sR:7720;"
                                ><img src="<%= asset_path 'slides/shape3.png' %>" alt="altech-img" width="131" height="131" data-no-retina>
                            </rs-layer>
                            <rs-layer
                                id="slider-3-slide-2-layer-12"
                                data-type="image"
                                data-rsp_ch="on"
                                data-xy="xo:1270px,1270px,796px,491px;yo:256px,256px,160px,98px;"
                                data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
                                data-dim="w:176px,176px,110px,67px;h:86px,86px,53px,32px;"
                                data-vbility="t,t,f,f"
                                data-frame_0="rY:360deg;"
                                data-frame_1="e:Back.easeOut;st:940;sp:500;sR:940;"
                                data-frame_999="o:0;st:w;sR:7560;"
                                ><img src="<%= asset_path 'slides/shape2.png' %>" alt="altech-imge" width="176" height="86" data-no-retina>
                            </rs-layer>
                            <rs-layer
                                id="slider-3-slide-2-layer-13"
                                data-type="image"
                                data-rsp_ch="on"
                                data-xy="xo:1292px,1292px,809px,499px;yo:352px,352px,220px,135px;"
                                data-text="w:normal;s:20,20,12,7;l:0,0,15,9;"
                                data-dim="w:72px,72px,44px,27px;h:102px,102px,63px,38px;"
                                data-vbility="t,t,f,f"
                                data-frame_0="y:-50,-50,-31,-19;"
                                data-frame_1="e:Linear.easeNone;st:880;sp:500;sR:880;"
                                data-frame_999="o:0;st:w;sR:7620;"
                                ><img src="<%= asset_path 'slides/shape4.png' %>" alt="altech-arrow" width="72" height="102" data-no-retina>
                            </rs-layer>
                        </rs-slide>
                        <!-- rs-slide -->
                    </rs-slides>
                </rs-module><!-- rs-module -->
        </rs-module-wrap>
        <!-- END REVOLUTION SLIDER -->






<% end %>
